html{
  background-color: #f10c3e;
  text-align: center;
}
#titolo{
  font-size: 60px;
  background-color: white;
  margin-left: 15%;
  margin-right: 15%;
  border-radius: 20px;
  padding-top: 2%;
  padding-bottom: 2%;
}
#question{
  background-color:white;
  margin-left: 5%;
  margin-right: 5%;
  padding-bottom: 5%;
  border-radius: 20px;
  padding-top: 5%;
  padding-bottom: 0%;
  padding-left: 2%;
  padding-right: 2%;
  vertical-align: middle;
  height: 120px;
  font-size: 25px;
  font-style: italic;
}
#selection{
  background-color: white;
  margin-left: 5%;
  margin-right: 5%;
  padding-bottom: 1%;
  border-radius: 20px;
  padding-top: 2%;
  margin-bottom: 30px;
  padding-left: 5%;
  padding-right: 5%;
}
.sel{
  color: white;
  font-size: 30px;
  margin-bottom: 5%;
  text-align: center;
  width: 100%;
  height: 180px;
  border-radius: 20px;
  background-color: #f10c3e;
}
button:active{
  box-shadow: 0 10px 0 #00823f;
  top: 10px;
}
#form{
  background-color: white;
  margin-left: 5%;
  margin-right: 5%;
  padding-bottom: 1%;
  border-radius: 20px;
  padding-top: 2%;
  margin-bottom: 30px;
  padding-left: 5%;
  padding-right: 5%;
}
#username{
  border: 2px solid #f10c3e;
  border-radius: 20px;
  height: 40px;
  width: 490px;
  text-align: center;
}
#send{
  background-color: #f10c3e;
  height: 50px;
  width: 180px;
  font-size: 20px;
  padding-left: 0px;
  padding-right: 0px;
}